<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<WpfApplication1.Properties.Settings>
			<setting name="UriToRegistration" serializeAs="String">
				<value>http://oauth.vk.com/authorize?client_id=2860162&amp;scope=audio,video,wall,groups,offline,nohttps&amp;redirect_uri=http://api.vk.com/blank.html&amp;display=page&amp;response_type=token</value>
			</setting>
		</WpfApplication1.Properties.Settings>
	</userSettings>
	<connectionStrings>
		<add name="ModelVkontakteContainer" connectionString="metadata=res://*/Model.ModelVkontakte.csdl|res://*/Model.ModelVkontakte.ssdl|res://*/Model.ModelVkontakte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=vkontakteChecker;persist security info=True;user id=oldvodka;password=Vfhnbyb123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>